*.egg-info
*.pot
*.py[co]
*.sublime.*
__pycache__
MANIFEST
.tox/
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
django_mssql.egg-info/
extras/sqlserver/regex_clr/(bin|obj|.*\.user|_.*|.*\.suo)
